body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.grid-container{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(196, 23, 23);
    width: 500px;
    height: 500px;
    box-sizing: border-box;   
}

.pixel {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

button {
    align-self: center;
    height: 50px;
    width: 100px;
}